In [4]:
import pandas as pd

data = pd.read_csv("VERITE_v2_true.csv")

In [5]:
# find nan in data
# Display rows with any NaN values
print("\nRows with NaN values:")
print(data[data.isna().any(axis=1)])

# Display count of NaN values in each column
print("\nCount of NaN values per column:")
print(data.isna().sum())

Rows with NaN values:
                                               caption           image_path  \
7    A photograph captured by NASA’s Mars Curiosity...    images/true_7.jpg
85   Image shows a 'We plan to cut all homeless peo...   images/true_95.jpg
103  A photograph shows personnel of the U.S. Custo...  images/true_117.jpg
118  Photograph shows an injured police officer aft...  images/true_133.jpg
133  An image shows a group of antifa protesters be...  images/true_148.jpg
161  Photograph depicts a sign at a single Wegmans ...  images/true_176.jpg
167  An image of actress Samara Weaving covered in ...  images/true_182.jpg
171  A still from the 1988 Holocaust-themed miniser...  images/true_186.jpg
191  A photograph shows a white man posing with the...  images/true_206.jpg
273  Photographs show an attempted robbery in Brazi...  images/true_310.jpg
285  Image shows a man, named Aleskey Frumkin, bein...  images/true_325.jpg

     label    best_guess_labels  \
7     True       portal on mars
85    True              signage
103   True                blood
118   True               horror
133   True                crowd
161   True                 sign
167   True                 girl
171   True              soldier
191   True       trophy hunting
273   True               street
285   True  cast a fishing line

                                       web_description  \
7    Mars, , NASA, Rover, Photograph, Mars rover, N...
85                                        cut, Poverty
103                                             Zombie
118                                             Zombie
133                                                NaN
161                  Document, Pork, , Target, License
167    Samara Weaving, Ash vs Evil Dead, Zombie, Image
171                                                NaN
191                               Deer, Trophy hunting
273                                                NaN
285              Heckler & Koch, Fishing, Fishing Line

    page_title_matching_images  \
7                          NaN
85                         NaN
103                        NaN
118                        NaN
133                        NaN
161                        NaN
167                        NaN
171                        NaN
191                        NaN
273                        NaN
285                        NaN

                                     rewritten_caption
7    A photograph captured by NASA's Mars Curiosity...
85   Here is the rewritten caption: \r\n Image show...
103  Injuries sustained by Customs and Border Prote...
118  Protesters clash with police in Mexico in Octo...
133  A group of antifa protesters physically assaul...
161  In this 2012 photograph, a sign at a specific ...
167  Samara Weaving, an actress, is shown covered i...
171  A still from the 1988 Holocaust-themed miniser...
191  A photograph shows a white man posing with the...
273  In 2008, an attempted robbery in Brazil ended ...
285  A man in Ukraine, Aleskey Frumkin, being whipp...

Count of NaN values per column:
caption                        0
image_path                     0
label                          0
best_guess_labels              0
web_description                3
page_title_matching_images    11
rewritten_caption              0
dtype: int64

In [6]:
# show which index is null
# Get indices where any column has null values
null_indices = data[data.isna().any(axis=1)].index

print("\nIndices with null values:")
print(null_indices.tolist())

# Show the actual rows with null values including their index
print("\nRows with null values (including index):")
print(data.iloc[null_indices])

Indices with null values:
[7, 85, 103, 118, 133, 161, 167, 171, 191, 273, 285]

Rows with null values (including index):
                                               caption           image_path  \
7    A photograph captured by NASA’s Mars Curiosity...    images/true_7.jpg
85   Image shows a 'We plan to cut all homeless peo...   images/true_95.jpg
103  A photograph shows personnel of the U.S. Custo...  images/true_117.jpg
118  Photograph shows an injured police officer aft...  images/true_133.jpg
133  An image shows a group of antifa protesters be...  images/true_148.jpg
161  Photograph depicts a sign at a single Wegmans ...  images/true_176.jpg
167  An image of actress Samara Weaving covered in ...  images/true_182.jpg
171  A still from the 1988 Holocaust-themed miniser...  images/true_186.jpg
191  A photograph shows a white man posing with the...  images/true_206.jpg
273  Photographs show an attempted robbery in Brazi...  images/true_310.jpg
285  Image shows a man, named Aleskey Frumkin, bein...  images/true_325.jpg

     label    best_guess_labels  \
7     True       portal on mars
85    True              signage
103   True                blood
118   True               horror
133   True                crowd
161   True                 sign
167   True                 girl
171   True              soldier
191   True       trophy hunting
273   True               street
285   True  cast a fishing line

                                       web_description  \
7    Mars, , NASA, Rover, Photograph, Mars rover, N...
85                                        cut, Poverty
103                                             Zombie
118                                             Zombie
133                                                NaN
161                  Document, Pork, , Target, License
167    Samara Weaving, Ash vs Evil Dead, Zombie, Image
171                                                NaN
191                               Deer, Trophy hunting
273                                                NaN
285              Heckler & Koch, Fishing, Fishing Line

    page_title_matching_images  \
7                          NaN
85                         NaN
103                        NaN
118                        NaN
133                        NaN
161                        NaN
167                        NaN
171                        NaN
191                        NaN
273                        NaN
285                        NaN

                                     rewritten_caption
7    A photograph captured by NASA's Mars Curiosity...
85   Here is the rewritten caption: \r\n Image show...
103  Injuries sustained by Customs and Border Prote...
118  Protesters clash with police in Mexico in Octo...
133  A group of antifa protesters physically assaul...
161  In this 2012 photograph, a sign at a specific ...
167  Samara Weaving, an actress, is shown covered i...
171  A still from the 1988 Holocaust-themed miniser...
191  A photograph shows a white man posing with the...
273  In 2008, an attempted robbery in Brazil ended ...
285  A man in Ukraine, Aleskey Frumkin, being whipp...

In [8]:
# Remove record with specific image path
data = data[data['image_path'] != 'images/true_329.jpg']

# Reset the index after removal
data = data.reset_index(drop=True)

print(f"Shape of data after removal: {data.shape}")

Shape of data after removal: (296, 7)

In [9]:
# save the data
data.to_csv("VERITE_v2_true_cleaned.csv", index=False)

In [10]:

verite_v2 = pd.read_csv("VERITE_v2.csv")
# from VERITE_v2.csv keep only out-of-context labels
out_of_context = verite_v2[verite_v2['label'] == 'out-of-context']

# save the data
out_of_context.to_csv("VERITE_v2_out_of_context.csv", index=False)